.goodsBuyDiv-third{
    background-color: #333;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: inset 0 0px 0px #e7e8ea;
    -webkit-transition: box-shadow 0.5s;
    transition-property: box-shadow;
    transition-duration: 0.5s;
}

.goodsBuyDiv-third:hover{
    box-shadow: inset 0 0px 40px #e7e8ea;   
}

.goodsBuyDiv-fourth{
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    box-shadow: inset 0 0px 0px rgba(51, 51, 51, 0.52);
     -webkit-transition: box-shadow 0.5s;
    transition-property: box-shadow;
    transition-duration: 0.5s;
}
.goodsBuyDiv-fourth:hover{
    box-shadow: inset 0 0px 40px rgba(51, 51, 51, 0.52);
}

.goodsBuyDiv {
    position: fixed;
    width: 50%;
    left: 25%;
    bottom: 25%;
    background-color: white;
    /*display: none;*/
    /*opacity: 0;*/
    z-index: 102;
}

.goodsBuyDiv-first {
    background-color: #333;
    border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd;
    border-top: 2px solid #dddddd;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.goodsBuyDiv-second {
    height: 303px;
    width: 99%;
    border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd;
    background-image: url(img/QRCode.png);
    background-repeat: no-repeat;
    background-position: center;

}

#goodsBuyDiv-first-span {
    color: white;
    font-size: 15px;
    display: inline-block;
    margin-top: 6px;
    margin-left: 15px;
}

#goodsBuyDiv-first-a1 {
    float: right;
    margin-top: 6px;
    font-size: 15px;
    margin-right: 15px;
}
#goodsBuyDiv-first-a2 {
    float: right;
    margin-top: 6px;
    font-size: 15px;
    margin-right: 15px;
}


#goodsBuyDiv-second-textarea {
    width: 100%;
    height: 111px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0px solid #ccc;
}
/*
#goodsEvaluateReplyDownDiv-second-addPictureDiv::before {
    content: "\f033";    
    display: block;
    font-family: "rosettaicons";
    font-weight: normal;
    font-style: normal;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}*/