#headMusicProgress {
    display: inline-block;
    width: 0px;
    height: 1px;
    background-color: white;
    padding-right: 242px;
    margin-left: 12px;
    margin-bottom: 3px;
}

#headMusicCircle {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgb(103, 204, 226);
    border-radius: 100%;
    top: 17px;
    left: 80px;
    /*left:318px是最左边*/
}

#headMusicCircleBig {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(225, 229, 230);
    border-radius: 100%;
    top: 15px;
    left: 77px;
    z-index: -1;
}

#headMusicTitle {
    position: absolute;
    top: -6px;
    left: 127px;
    font-size: 8px;
}


#zhezhao {
    width:100%;
    height:100%;
    background-color:#000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0;
    position:fixed;
    left:0px;
    top:77px;
    display:none;
    z-index:-1;
    overflow: scroll;
}

#zhezhaoId {
    position: relative;
    left: 320px;
}
#zhezhaoLike {
    position: relative;
    left: 226px;
    width: 410px;
}

.zhezhaoLikeLi {
    display: block;
    height: auto;
    width: 100%;
    padding-bottom: 7%;
    padding-top: 7%;
    opacity: 0;
}

.zhezhaoLikePicture {
    float: left;
    width: 125px;
    height: 125px;
}

.zhezhaoLIkeDescrible {
    position: relative;
    margin-left: 48%;
    width: 100%;
    padding-bottom: 20px;
}

.zhezhaoLikeImg {
    width: 100%;
}

.zhezhaoLIkeDescribleSmall {
    font-size: large;
    word-break: break-all;
}

.zhezhaoLIkeDescribleTitle {
    font-size: xx-large;
    margin-bottom: 41px;
    margin-top: 27px;
}

